html, body {
  height: 100%;
}

.main-top {
  background: $base-color;
  color: $white;
  margin-bottom: 5%;

  header {
    padding: 5% 0%;

    h1 {

      a {
        color: $white;
        font-size: 2em;
      }

      small {

        ul {
          padding: 0;
          margin: 0;

          li {
            font-size: 1.5em;
            font-weight: lighter;
            text-transform: uppercase;
            list-style: none;
            color: $white;

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .marker {
    margin-bottom: -7px;
    margin-left: 10%;
    width: 20px;
    background-image: url('../assets/marker.png');
  }
}

.container.main{
  min-height: 33%;

  .sub_header {
   //background: $light-grey;
    width: 100%;
    padding: 5% 0%;
    text-align: center;
    font-size: 5em;
  }
}


footer {
  background: $black;
  color: $white;
  margin-top: 5%;
  padding-top: 5%;

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
    }
  }
  .footer-menu-wrapper{
    float: right;

    a {
      display: inline-block;
      padding: 0px 10px;
      color: $lighter;
    }
  }
}