nav {

  margin: 40px 40px;

  .navbar-brand {
    font-size: 2em;

    small {
      font-size: 1em;
      font-weight: lighter;
      color: $light-grey;
    }
  }

  .navbar-nav {
    margin-top: 15px;
  }

  .navbar-toggle{
    font-size: 1.3em;
    margin-top: 4px;
    color: $base-color;
  }

  ul {

    li.menu-item {

      a {
        background: $white;
        color: $black;
        padding: 5px 10px;
      }
      a:hover,
      a:active,
      a:focus {
        background: $base-color;
        color: $white;
      }
    }

    li.active {

      a,
      a:hover,
      a:active,
      a:focus {
        background: $base-color;
        color: $white;
        padding: 5px 10px;
      }
    }
  }
  .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    background-color: $base-color;
    border-color: #428bca;
    color: $white;
  }
  .caret {
    //color: $white;
    //border: $base-color;
  }
}

.dropdown-menu {
  border-radius: 0px;
}